body {
    height: 800px;
    /*border: 2px solid blue;*/
    background-color:blanchedalmond;
   
}

.navLink {
    background-color: blue;
    color: white;
    padding: 3px;
}


.navLinkSelect {
    background-color: lightblue;
    color: white;
    padding: 3px;
}

.content {
    min-height: 80%;
    height: 80%;
    border: solid;
    border-width: 1px;
    border-left-color: blue;
    background-color:silver;
}


footer {
    background-color:purple;
    min-height:100px;
}


header
{
    background-color:blanchedalmond;
    min-height:100px;
    vertical-align:bottom;
}